#
#  React snippets
#

snippet rcc "React: class component" b
import React from 'react';

export default class ${1:ClassName} extends React.Component {
	render () {
		return (
			${VISUAL}$0
		)
	}
};
endsnippet